<main class="checkout-main-container">
    <h1>Click the button to generate a ticket!</h1>
    <button class="btn btn-outline-secondary" onclick="generateTicket()">Generate</button>
</main>

<script src="/static/js/checkout.js"></script>
<link rel="stylesheet" href="/static/css/checkout.css"/>