<div class="form-container">
    <form action="/api/session/login" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <a href="/api/session/login-github">
            <button class="btn btn-dark" type="button">
                <img src="/static/assets/github.png"/>
                Login with Github
            </button>
        </a>
        <a href="/register"><p>Dont have account yet?</p></a>
        <a href="/recover"><p>Forgot your password?</p></a>
    </form>
</div>

<link rel="stylesheet" href="/static/css/login.css"/>