<main class="password-recovery-main-container">
    <form action="/api/session/change-password" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter your new password</label>
            <input type="password" class="form-control" name="password" id="password-input">
        </div>
        <div class="mb-3">
            <p style="display: none;" id="check-text"></p>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-outline-primary" id="check-password" disabled="true" onclick="checkPassword()">Check password</button>
            <button type="button" class="btn btn-primary" id="change-button" disabled="true" onclick="resetPassword()">Recover</button>
        </div>
    </form>
    <div id="user-email" style="display: none;">{{data.user.email}}</div>
</main>

<link rel="stylesheet" href="/static/css/passwordRecovery.css"/>
<script src="/static/js/passwordRecovery.js"></script>